<body>

    <div class="openPedido" *ngIf="aberto">
        <div style="display: flex;justify-content: end;">
            <button class="escondePedido" (click)="escondePedido()">X</button>
        </div>
        <div style="display: flex;justify-content: center; margin-top: 30px;">
            <h1 style="color: #F05D23; font-weight: bold; font-size: 30px; margin-bottom: 20px;"><strong> Seu
                    pedido:</strong></h1>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
            <p style="color: #F05D23;"><strong>PRODUTO</strong> </p>
            <p style="color: #F05D23;"><strong>R$</strong></p>
        </div>
        <div *ngFor="let item of itensPedido;index as indice"
            style="display: flex; flex-direction: column; padding-top: 10px;">
            <div
                style="display: flex; flex-direction: row;; justify-content: space-evenly; border-bottom: solid 1px  #F05D23;">
                <p style=" color: #F05D23;">{{item.nomeItem}}</p>
                <p style="color: #F05D23;">{{item.precoItem}}</p>
            </div>
        </div>
        <p style="display: flex; align-items: center; justify-content: center; margin: 10px; color: #F05D23;"><b> Total:
                R$ {{calculaPreco()}} </b></p>

        <div style="display: flex; justify-content: center;">
            <button class="btn-pedido cursor-pointer" (click)="cadastraPedido()"><b>Confirmar pedido</b></button>
        </div>
    </div>
    <div class="inicioCardapio">
        <div style="display: flex;align-items: center;">
            <h6 style="margin-right: 4px;">Filtrar por</h6>
        </div>
        <div>
            <select [(ngModel)]="categoriaFiltro" (click)="modoPesquisa=false" class="select cursor-pointer"
                style="margin-right: 50px;">
                <option value="Pizzas">Pizzas</option>
                <option value="Lanches">Lanches</option>
                <option value="Massas">Massas</option>
                <option value="Doces">Doces</option>
                <option value="Prato feito">Prato feito</option>
                <option value="Bebidas">Bebidas</option>
                <option value="Tudo" selected>Sem filtro</option>
            </select>
        </div>
        <div>
            <button class="btn-search cursor-pointer" (click)="mostraPedido()">Mostrar Carrinho</button>
        </div>
        <div style="display: flex; align-items: center;flex-direction: row; justify-content: center;">
            <input placeholder="Encontre sua empresa favorita"
                style="padding: 10px; margin-top: 22px;margin-left: 20px;margin-right: 5px;   border-radius: 3px; width: 225px; height: 30px;"
                type="text" [(ngModel)]="pesquisa">
            <button class="btn-search cursor-pointer" (click)="pesquisar()">Pesquisar</button>
        </div>

    </div>
    <div class="mainCardapio" *ngIf="!modoPesquisa">
        <div *ngFor="let cardapio of cardapiosLista;index as indice" class="leftMainCardapio">
            <!-- <div *ngFor="let cardapio of cardapios"> -->
            <details class="abreCardapio"
                *ngIf="indice%2==0 && categoriaFiltro == cardapio.categoria || indice%2==0 &&  categoriaFiltro=='Tudo'">
                <summary class="quadradoCardapio cursor-pointer">{{cardapio.nomeEmpresa}}</summary>
                <p *ngFor="let item of cardapio.itensCardapio;index as indice;" class="escritaItem">{{item.nomeItem}}
                    - R$ {{item.precoItem}}
                    <button class="opt-item cursor-pointer" (click)="adicionaItens(item, cardapio.nomeEmpresa)"
                        style="margin-right: 15px;">Add</button>
                    <button class="opt-item cursor-pointer" (click)="removeItens(item)">Remove</button>
                </p>
                <p style="color: #F2F2F2;display: flex; justify-content: center;padding: 5px;"><b>Avalie o cardápio:
                    </b> </p>

                <div
                    style="display: flex; justify-content: center; align-items: center; flex-direction: row; padding: 5px">
                    <select class="selectCardapio cursor-pointer" [(ngModel)]="novaAvaliacaoValor">
                        <option value=1>1</option>
                        <option value=2>2</option>
                        <option value=3>3</option>
                        <option value=4>4</option>
                        <option value=5>5</option>
                    </select>
                    <button class="opt-item cursor-pointer" (click)="avaliar(cardapio)" style="width: 150px; ">Enviar
                        avaliação</button>
                </div>
                <p style="color: #F2F2F2; display: flex; justify-content: center; padding: 5px;"><b>Nota média:
                        {{cardapio.mediaAvaliacao}}</b></p>
            </details>
            <!-- </div> -->
        </div>
        <div class="rightMainCardapio">
            <div *ngFor="let cardapio of cardapiosLista;index as indice">
                <details class="abreCardapio"
                    *ngIf="!indice%2==0 && categoriaFiltro == cardapio.categoria || !indice%2==0 && categoriaFiltro=='Tudo'">
                    <summary class="quadradoCardapio cursor-pointer">{{cardapio.nomeEmpresa}}</summary>
                    <p *ngFor="let item of cardapio.itensCardapio;index as indice;" class="escritaItem">
                        {{item.nomeItem}}
                        - R$ {{item.precoItem}}
                        <button class="opt-item cursor-pointer" (click)="adicionaItens(item, cardapio.nomeEmpresa)"
                            style="margin-right: 15px;">Add</button>
                        <button class="opt-item cursor-pointer" (click)="removeItens(item)">Remove</button>
                    </p>
                    <p style="color: #F2F2F2;display: flex; justify-content: center;padding: 5px;"><b>Avalie o cardápio:
                        </b> </p>

                    <div
                        style="display: flex; justify-content: center; align-items: center; flex-direction: row; padding: 5px">
                        <select class="selectCardapio cursor-pointer" [(ngModel)]="novaAvaliacaoValor">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
                        <button class="opt-item cursor-pointer" (click)="avaliar(cardapio)"
                            style="width: 150px; ">Enviar avaliação</button>
                    </div>
                    <p style="color: #F2F2F2; display: flex; justify-content: center; padding: 5px;"><b>Nota média:
                            {{cardapio.mediaAvaliacao}}</b></p>
                </details>
            </div>
        </div>
    </div>
    <div *ngIf="modoPesquisa" style="background-color: #EFEFE9; height: 100vh;">
        <div *ngFor="let cardapio of cardapiosLista;index as indice">
            <div *ngIf="cardapio.nomeEmpresa == pesquisa"
                style="display: flex; align-items: center;justify-content: center;">
                <details class="abreCardapio">
                    <summary class="quadradoCardapio cursor-pointer">{{cardapio.nomeEmpresa}}</summary>
                    <p *ngFor="let item of cardapio.itensCardapio;index as indice;" class="escritaItem">
                        {{item.nomeItem}}
                        - R$ {{item.precoItem}}
                        <button class="opt-item cursor-pointer" (click)="adicionaItens(item, cardapio.nomeEmpresa)"
                            style="margin-right: 15px;">Add</button>
                        <button class="opt-item cursor-pointer" (click)="removeItens(item)">Remove</button>
                    </p>
                    <p style="color: #F2F2F2;display: flex; justify-content: center;padding: 5px;"><b>Avalie o cardápio:
                        </b> </p>

                    <div
                        style="display: flex; justify-content: center; align-items: center; flex-direction: row; padding: 5px">
                        <select class="selectCardapio cursor-pointer" [(ngModel)]="novaAvaliacaoValor">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
                        <button class="opt-item cursor-pointer" (click)="avaliar(cardapio)"
                            style="width: 150px; ">Enviar avaliação</button>
                    </div>
                    <p style="color: #F2F2F2; display: flex; justify-content: center; padding: 5px;"><b>Nota média:
                            {{cardapio.mediaAvaliacao}}</b></p>
                </details>
            </div>
        </div>
    </div>
</body>