<nav class="header">
    <img [src]="logoLaranja" alt="" style="height: 65px;">
    <a class="a-nav"  (click)="redirecionarParaEmpresa()"><strong style="background-color: #F05D23;"> Empresa </strong></a>
    <a class="a-nav" (click)="redirecionarParaCardapio()"><strong style="background-color: #F05D23;"> Cardápio </strong></a>
    <a class="a-nav" (click)="redirecionarParaLogin()"><strong style="background-color: #F05D23;"> Logout </strong></a>
</nav>
<div style="display: flex; flex-direction: row; width: 100%; background-color: #242421;">
    <div style="width: 50%;display: flex; align-items: center; justify-content: right; margin-top: 30px; margin-right: 10px;">
<!-- <div *ngFor="let cardapio of cardapios"> -->
    <details>
    <summary 
    style="background-color: #F05D23; color: #F2F2F2; width: 400px;
    border-radius: 5px 5px 0 0; padding: 5px;"
    >O que eu to fazendo aqui?</summary>
    <!-- <p *ngFor="let item of items" style="color: aqua;">{{item}} <button (click)="add()">Add</button> {{cliques}} </p> -->
</details>
<!-- </div> -->
</div>
<div style="width: 50%; display: flex; align-items: center; justify-content: left; margin-top: 30px; margin-left: 10px;">
    <!-- <div *ngFor="let cardapio of cardapios"> -->
        <details style="background-color: #F2F2F2;">
        <summary 
        style="background-color: #F05D23; color: #F2F2F2; width: 400px;
        border-radius: 5px 5px 0 0; padding: 5px;"
        >Ta calma fofa?</summary>
        <p  style="color: rgb(0, 0, 0);"> Batata Frita 250g <button (click)="add()">Add</button> {{cliques}} </p>
    </details>
    <!-- </div> -->
    </div>
</div>
