<!-- /*tamanho da tela do pc do senai 1366*/ -->
<nav class="header">
    <img [src]="logoLaranja" alt="" style="height: 65px;">
    <a class="a-nav" (click)="redirecionarParaEmpresa()"><strong style="background-color: #F05D23;"> Empresa
        </strong></a>
    <a class="a-nav" (click)="redirecionarParaCardapio()"><strong style="background-color: #F05D23;"> Cardápio
        </strong></a>
    <a class="a-nav" (click)="redirecionarParaLogin()"><strong style="background-color: #F05D23;"> Logout </strong></a>
</nav>

<div style="height: 450px;">
    <div class="main">
        <div class="leftMain">
            <img class="imageLeft" [src]="logoLaranja" alt="" style="border-radius: 10px;">
            <p class="textLeft"> Faça login na <strong class="withFood">WithFood</strong> e desbloqueie um mundo de
                sabores
                irresistíveis.
                Conecte-se agora e descubra restaurantes incríveis, faça

                pedidos personalizados e desfrute de entregas rápidas e confiáveis.
                Não perca mais tempo, faça login e embarque nessa jornada culinária conosco!

            </p>
            <button class="ctaMain ctaLeft" (click)="redirecionarParaLogin()">Faça Login</button>
        </div>
        <div class="rightMain">
            <p class="textRight"> Bem-vindo à <strong class="withFood">WithFood!</strong> Descubra uma nova forma de
                saborear deliciosas refeições

                no conforto da sua casa. Faça seu pedido agora e deixe-nos levar até você uma experiência

                gastronômica incrível. Experimente a <strong class="withFood">WithFood</strong>
                hoje mesmo!

            </p>
            <button class="ctaMain" (click)="redirecionarParaCardapio()">Ver cardápios</button>
            <img class="imageRight" [src]="logoBranca" alt="" style="border-radius: 10px;">
        </div>
    </div>
    <div class="secondMain-Home">
        <div>
            <h1 class="h1-titleSecondMain">Seja nossa empresa parceira</h1>
        </div>
        <div class="mainSecond">
            <div class="leftSecondMain">
                <p class="p-textSecondMain ">Aumente sua visibilidade, conquiste novos clientes e impulsione seu
                    restaurante para o sucesso!
                    Cadastre agora o cardápio do seu estabelecimento no site da WithFood e desfrute de inúmeras
                    vantagens. Com uma base de usuários ávidos por descobrir novos sabores,
                    nossa plataforma oferece a oportunidade perfeita
                    para você destacar sua cozinha especializada. </p>

            </div>
            <div class="rightSecondMain">
                <p class="p-textSecondMain">Não perca tempo, junte-se a nós e amplie seu alcance de maneira eficaz.
                    Aproveite essa chance única de
                    impulsionar seu restaurante para o topo!
                    Clique aqui para cadastrar seu cardápio hoje mesmo!</p>
                <button class="ctaMain ctaSecondMain">Seja Parceiro</button>
            </div>
        </div>

    </div>

    <img style="display: flex;  left: 1085px; top: 860px;
   position: absolute;" [src]="garfoFaca" alt="">


    <div class="footer" style="display: flex; height: 150px;">
        <div class="navFooter" style="display: flex; align-items: center;">
            <nav class="footer-nav" style="margin-top: 10px; margin-left: 30px; gap: 20px;">
                <!-- <img [src]="logoLaranja" alt="" style="height: 65px;"> -->
                <div>
                    <a class="a-navFooter" (click)="redirecionarParaEmpresa()"><strong
                            style="background-color: #EFEFE9;"> Empresa
                        </strong></a>
                    <a class="a-navFooter" (click)="redirecionarParaCardapio()"><strong
                            style="background-color: #EFEFE9; ">
                            Cardápio
                        </strong></a>
                </div>
                <div>
                    <a class="a-navFooter" (click)="redirecionarParaLogin()"><strong
                            style="background-color: #EFEFE9; margin-right: 27px;"> Login
                        </strong></a>
                    <a class="a-navFooter" (click)="redirecionarParaLogin()"><strong style="background-color: #EFEFE9;">
                            Home
                        </strong></a>
                </div>
            </nav>
        </div>
        <div class="tellUsFooter">
            <p style="margin-top: 30px;"> <strong> Entre em contato </strong></p>
            <p><strong>Telefone:</strong> (47)80029922</p>
            <p style="text-align: center;"><strong>Email:</strong> withfood@gmail.com</p>
        </div>
        <div class="emailFooter">
            <p style="color: #F05D23; font-weight: bold; margin-top: 30px;">Para receber as novidades </p>
            <div>
                <input type="text" placeholder="Envie seu Email" style="width: 70%;  margin-top: 20px;">
                <img [src]="email" alt="" style="width: 35px; height: 35px;">
            </div>
        </div>
        <div class="logoFooter">
            <img [src]="logoPequena" alt="" style="border-radius: 10px;width: 150px; height: 150px; ">
        </div>
    </div>
</div>