<nav class="header">
    <img src="" alt="">
    <a class="a-nav" routerLink="/Empresa" href=""><strong style="background-color: #F05D23;"> Empresa </strong></a>
    <a class="a-nav" routerLink="/Cardapio" href=""><strong style="background-color: #F05D23;"> Cardápio </strong></a>
    <a class="a-nav" href=""><strong style="background-color: #F05D23;"> Logout </strong></a>
</nav>
<div class="main">
    <div class="leftMain">
            <img  class="imageLeft" [src]="logoLaranja"
                alt="" style="border-radius: 10px;" >
            <p class="textLeft"> Faça login na <strong class="withFood">WithFood</strong> e desbloqueie um mundo de sabores irresistíveis.
                Conecte-se agora e descubra restaurantes incríveis, faça

                pedidos personalizados e desfrute de entregas rápidas e confiáveis.
                Não perca mais tempo, faça login e embarque nessa jornada culinária conosco!

            </p>
            <button class="ctaMain ctaLeft">Faça Login</button>
    </div>
    <div class="rightMain">
                <p class="textRight"> Bem-vindo à <strong class="withFood">WithFood!</strong> Descubra uma nova forma de saborear deliciosas refeições

                    no conforto da sua casa. Faça seu pedido agora e deixe-nos levar até você uma experiência

                    gastronômica incrível. Experimente a <strong class="withFood">WithFood</strong>
                    hoje mesmo!

                </p>
            <button class="ctaMain">Ver cardápios</button>
                <img class="imageRight" [src]="logoBranca"
                    alt="" style="border-radius: 10px;">
            
    </div>
</div>