<div class="all-content">
    <!-- Conteúdo da página login -->
    <div class="login-content" style="margin-left: 30px;">
        <h1 class="login-title" style="margin-top: 70px;">Login</h1>
        <div class="inputs">
            <input class="login-input" placeholder="Email" type="text" [(ngModel)]="email">
            <input class="login-input" placeholder="Senha" type="password" [(ngModel)]="senha">
        </div>
        <!-- Mensagem de erro no caso de dados incorretos -->
        <div *ngIf="recusado">
            <p>Email ou senha incorretos, tente novamente</p>
        </div>
        <!-- Mensagem de erro no caso de dados não preenchidos -->
        <div *ngIf="!preenchido">
            <p>Todos os campos devem ser preenchidos</p>
        </div>
        <button class="login-cta" (click)="verificarLogin()">Logar</button>
        <!-- Parte feita para redirecionar o usuário à página de Cadastro -->
        <div class="redirect-register">
            <p class="text-bold">Não tem uma conta?</p>
            <a class="link-register text-bold" (click)="redirecionarParaCadastro()">Cadastre-se</a>
        </div>
    </div>
    <!-- Background utilizado na direita, apenas essa utilidade -->
    <div class="right-background">
    </div>