<!--The content below is only a placeholder and can be replaced.-->

<nav class="header">
    <img [src]="logoLaranja" alt="" style="height: 65px;">
    <a class="a-nav" (click)="redirecionarParaHome()"><strong style="background-color: #F05D23;"> Home </strong></a>
    <a class="a-nav" (click)="redirecionarParaEmpresa()"><strong style="background-color: #F05D23;"> Empresa
        </strong></a>
    <a class="a-nav" (click)="redirecionarParaCardapio()"><strong style="background-color: #F05D23;"> Cardápio
        </strong></a>
    <a class="a-nav" (click)="redirecionarParaLogin()" *ngIf="!logado"><strong style="background-color: #F05D23;"> Login
        </strong></a>
    <a class="a-nav" (click)="abreLogout=true;" *ngIf="logado"><strong style="background-color: #F05D23;"> logout
        </strong></a>
</nav>
<div *ngIf="abreLogout"
    style="width: 200px;height: 70px; background-color: #F05D23; display: flex; flex-direction: row; width: 100%; justify-content: center; padding: 10px;">
    <div>
        <p style="color:#F2F2F2; margin-right: 5px;"><b>Deseja mesmo fazer logout?</b> </p>
    </div>
    <div>
        <button class="btnLogout" (click)="sair()">Sim</button>
        <button class="btnLogout" (click)="abreLogout=false;">Não</button>
    </div>
</div>

<router-outlet></router-outlet>
<!-- 
<
    <div class="footer" style="display: flex; height: 150px;">
        <div class="navFooter" style="display: flex; align-items: center;">
            <nav class="footer-nav" style="margin-top: 10px; margin-left: 30px; gap: 20px;">
                <img [src]="logoLaranja" alt="" style="height: 65px;"> -->
<!-- <div>
                    <a class="a-navFooter" (click)="redirecionarParaEmpresa()"><strong
                            style="background-color: #EFEFE9;"> Empresa
                        </strong></a>
                    <a class="a-navFooter" (click)="redirecionarParaCardapio()"><strong
                            style="background-color: #EFEFE9; ">
                            Cardápio
                        </strong></a>
                </div>
                <div>
                    <a class="a-navFooter" (click)="redirecionarParaLogin()"><strong
                            style="background-color: #EFEFE9; margin-right: 27px;"> Login -->
<!-- </strong></a>
                    <a class="a-navFooter" (click)="redirecionarParaLogin()"><strong style="background-color: #EFEFE9;">
                            Home
                        </strong></a>
                </div>
            </nav>
        </div>
        <div class="tellUsFooter">
            <p style="margin-top: 30px;"> <strong> Entre em contato </strong></p>
            <p><strong>Telefone:</strong> (47)80029922</p>
            <p style="text-align: center;"><strong>Email:</strong> withfood@gmail.com</p>
        </div>
        <div class="emailFooter">
            <p style="color: #F05D23; font-weight: bold; margin-top: 30px;">Para receber as novidades </p>
            <div> -->
<!-- <input type="text" placeholder="Envie seu Email" style="width: 70%;  margin-top: 20px;">
                <img [src]="email" alt="" style="width: 35px; height: 35px;">
            </div>
        </div>
        <div class="logoFooter">
            <img [src]="logoPequena" alt="" style="border-radius: 10px;width: 150px; height: 150px; ">
        </div>
    </div>  -->