<h1>cadastro</h1>

<p style="font-size: 48px; color: orangered;">Criar conta</p>

<div id="corpoDoFormulario">

    <div class="cabecalhoDoFormulario" style="display: flex;">
        <div (click)="selecionarCadastroEmpresa()" #cabecalhoEmpresa>
            <p>
                Empresa
            </p>
        </div>
        <div (click)="selecionarCadastroCliente()" #cabecalhoCliente>
            <p>
                Cliente
            </p>
        </div>
    </div>

    <div id="corpoDoFormularioCliente" *ngIf="cadastrandoCliente">
        <div id="grid">
            <input type="text" placeholder="Nome" [(ngModel)]="nome" style="">
            <input type="text" placeholder="Email" [(ngModel)]="email">

            

            <input type="text" placeholder="telefone" [(ngModel)]="telefone">
            <input type="text" placeholder="Cpf" [(ngModel)]="cpf">

          

            <input type="text" placeholder="Senha" [(ngModel)]="senha">
            <input type="text" placeholder="Confirmar Senha" [(ngModel)]="confirmacaoSenha">
            
        </div>

            <input type="text" placeholder="Endereco" [(ngModel)]="Endereco" style="width: 80%;">
            <br>
            <button id="botaoCadastrarCliente" (click)="cadastrarCliente()" style="background-color: orangered;color: white">Confirmar</button>
            
    </div>
    
    
    <div id="corpoDoFormularioEmpresa" *ngIf="!cadastrandoCliente">
        <div id="grid">
        <input type="text" placeholder="Nome" [(ngModel)]="nome">
        <input type="text" placeholder="Email" [(ngModel)]="email">

      

        <input type="text" placeholder="telefone" [(ngModel)]="telefone">
        <input type="text" placeholder="Cnpj" [(ngModel)]="cnpj">

     

        <input type="text" placeholder="Senha" [(ngModel)]="senha">
        <input type="text" placeholder="Confirmar Senha" [(ngModel)]="confirmacaoSenha">

     

        <input type="text" placeholder="Numero da conta Bancária" [(ngModel)]="numeroContaBancaria">
        <input type="text" placeholder="Agencia" [(ngModel)]="Agencia">

      

        <input type="text" placeholder="Nome do responsável" [(ngModel)]="nomeDoResponsavelDaEmpresa">
        <button id="botaoCadastrarEmpresa" (click)="cadastrarEmpresa()" style="background-color: orangered;color: white">Confirmar</button>

        </div>
    </div>

    
</div>