/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Home */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.cursor-pointer{
    cursor: pointer;
}
body {
    width: 100%;
}

.main {

    display: flex;
    flex-direction: row;
    background-color: #EFEFE9;
    padding: 30px;
}

.leftMain {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: end;
    padding: 40px;
}

.rightMain {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: left;
    padding: 40px;
}

.imageLeft {
    display: flex;
    width: 380px;
    height: 200px;
    margin-bottom: 15px;
}

.imageRight {
    display: flex;
    width: 380px;
    height: 200px;
    margin-top: 15px;
}

p {
    text-align: justify;
    font-size: 16px;
}

.textLeft,
.textRight {
    width: 380px;
}

.header,
.footer {
    height: 65px;
    background-color: #F05D23;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.footer {
    align-items: start;
    justify-content: space-around;
    background-color: #EFEFE9;
}

.withFood {
    color: #F05D23;
}

.a-nav {
    color: #F2F2F2;
    text-decoration: none;
    cursor: pointer;
}

.footer .a-nav {
    color: #F05D23;
}



.footer {
    width: 100%;
    height: 250px;
}

.footer-nav {
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.a-navFooter {
    color: #F05D23;
    padding: 10px;
}

.navFooter{

display: flex;
align-items: center;
justify-content: right;
margin-right: 30px;
}

.navFooter,
.tellUsFooter,
.emailFooter,
.logoFooter {
    width: 25%;
}

.tellUsFooter {
    color: #F05D23;
}

.emailFooter,
.tellUsFooter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ctaMain {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 230px;
    display: flex;
    margin-left: 70px;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #F05D23;
    color: #F2F2F2;
    border-radius: 5px;
    border: none;
    font-weight: bold;

}

.ctaSecondMain {
    background-color: #F2F2F2;
    color: #F05D23;
    margin-left: 90px;
    margin-top: 0px;

}

.ctaLeft {
    margin-right: 70px;
}

.secondMain-Home {
    width: 100%;
    height: 100%;
    background-color: #F05D23;
}

.h1-titleSecondMain {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;

    padding: 30px;
    padding-bottom: 20px;
    padding-top: 50px;
    color: #F2F2F2;
}

.mainSecond {
    display: flex;
    flex-direction: row;
}

.leftSecondMain,
.rightSecondMain {
    width: 50%;
    text-align: justify;
}

.p-textSecondMain {
    display: flex;
    align-self: center;
    width: 60%;
    padding: 20px;
    color: #F2F2F2;
}

.leftSecondMain {
    display: flex;
    justify-content: right;
    width: 50%;

}

/* Home */



/* Cadastro */


.titleCadastro {
    font-size: 40px;
    color: #F05D23;
    font-weight: bold;
    padding: 25px;
    margin-left: 40px;
}

#CabecalhoEmpresa {
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
}

#cabecalhoDoFormulario {
    background-color: rgb(219, 218, 218);
    ;
}

#corpoDoFormularioEmpresa {
    background-color: rgb(219, 218, 218);
    padding: 50px;
}

#corpoDoFormularioCliente {
    background-color: rgb(219, 218, 218);
    padding: 50px;
}

.inputEmpresa,
.inputCliente,
input {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: white;
    margin-bottom: 25px;
    padding: 20px;
}

input {
    width: 80%;
}


.cabecalhoSelecionado {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 218, 218);
    color: #F05D23;
    width: 50%;
    height: 40px;
    cursor: pointer;
}

.cabecalhoNaoSelecionado {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240,93,35);
background: linear-gradient(180deg, rgba(240,93,35,1) 70%, rgba(229,86,29,1) 78%, rgba(209,73,19,1) 94%);

    color: white;
    width: 50%;
    height: 40px;
}

.corpoDoFormularioCliente {
    background-color: rgb(219, 218, 218);
    padding: 35px;
}

.mainCadastroEmpresa,
.mainCadastroCliente {
    display: flex;
    flex-direction: row;
    background-color: rgb(219, 218, 218);
    padding-top: 20px;
    height: 475px;
}

.leftInputs,
.rightInputs {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonCadastro {
    width: 500px;
    background-color: #F05D23;
    color: #F2F2F2;
    font-weight: bold;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;

}

.agenciaInput {
    margin-bottom: 7.5px;
}

/* Cadastro */



/* Login */

.allContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #EFEFE9;
}

.contentLogin {
    width: 60%;
}


.space {
    width: 40%;
    height: 1000px;
    background-color: #F05D23;

}

.titleLogin {
    color: #F05D23;
    font-weight: bold;
    padding: 25px;
    margin-left: 100px;
}

.cta {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 100px;
}

.inputs {
    display: flex;
    padding: 25px;
    flex-direction: column;
    margin-left: 75px;
}

.ctaLogin {
    width: 230px;
    background-color: #F05D23;
    color: #F2F2F2;
    font-weight: bold;
    height: 40px;
    border: none;
    margin: 25px;
    border-radius: 5px;
    margin-left: 100px;
}

/*CARDÁPIO*/

.openPedido{
    position: absolute; top:0; left: 0; width : 28%;
    height: 100%; background-color: #F2F2F2;display: flex; flex-direction: column;
    -webkit-box-shadow: 3px 4px 20px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 3px 4px 20px 0px rgba(0,0,0,0.75);
   box-shadow: 3px 4px 20px 0px rgba(0,0,0,0.75);
   backdrop-filter: blur(5px);
}

.escondePedido{
    display: flex; margin: 20px; position: absolute; 
background-color: #F2F2F2; border-radius: 5px; color: #F05D23; border: none;font-size: 20px;
}

.quadradoCardapio{
    background-color: #F05D23; color: #F2F2F2; width: 400px; height: 40px;
        border-radius: 5px 5px 5px 5px; padding: 5px;

}
.mainCardapio{
    display: flex; flex-direction: row; width: 100%; background-color: #EFEFE9; height: 800px; justify-content: center;
}
.leftMainCardapio, .rightMainCardapio{

}
.rightMainCardapio{
margin-left: 10px;
justify-content: left;
}
.abreCardapio{

    background-color: #F05D23; height: max-content; border-radius: 5px; align-items: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.escritaItem{
    color: #F2F2F2;
    margin-bottom: 10px;
    align-content: center;
}
.inicioCardapio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EFEFE9;
    padding-top: 20px;
}
.btn-pedido{
    background-color: #F05D23;
    color: #F2F2F2;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 30px;
    border-radius: 5px;
}
.btn-search{
    background-color: #F05D23;
    color: #F2F2F2;
    border: none;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    padding: 2px;
}
.opt-item{
    height: 20px;
    background-color: #F2F2F2;
    color: #F05D23;
    font-weight: bold;
    width: 70px;
    border: none;
    border-radius: 3px;
}
.selectCardapio{
    border: none;
    height: 20px;
    background-color: #F2F2F2;
    margin-right:10px ;
    border-radius: 2px;
}
/*CARDÁPIO*/

.empresa-tela{
height: 100vh;
background-color: #EFEFE9;
}
.title-empresa{
    color: #F05D23;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.header-empresa{
    display: flex;
    justify-content: center;
    height: 40px;
}
.pedidos-empresa{
    background-color: #F05D23;
    height: 100vh;
}
.empresa-adicionarItem{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    flex-direction: column;
}
.addItem{
    width: 150px;
    height: 20px;
    border-radius: 3px;
}
.addItemGroup{
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
}
.button-add{
    height: 40px;
    width: 90px;
    background-color: #F05D23;
    color: #f2f2f2;
    border: none;
    border-radius: 3px;
}
.mainCadastroItem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnAlterar{
    background-color: #F05D23;
    color: #f2f2f2;
    font-weight: bold;
    border: none;
    width: 200px;
    height: 22px;
    border-radius: 3px;
    margin-right: 10px;
    margin-left: 10px;
}

.coisasPedido{
    color: #F05D23;

}
.pedidosDiv{
    border-top: 1px solid #f2f2f2;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


}
.pedidosDivpeq{
    width: 30%;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 10px;
    padding: 10px;
}
.btnLogout{
    width: 75px;
    height: 20px;
    border: none;
    color: #F05D23;
    margin-right: 5PX;
    background-color: #f2f2f2;
    border-radius: 3px;
}