/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Home */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
}

.main {

    display: flex;
    flex-direction: row;
    background-color: #EFEFE9;
    padding: 30px;
}

.leftMain {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: end;
    padding: 40px;
}

.rightMain {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: left;
    padding: 40px;
}

.imageLeft {
    display: flex;
    width: 380px;
    height: 200px;
    margin-bottom: 15px;
}

.imageRight {
    display: flex;
    width: 380px;
    height: 200px;
    margin-top: 15px;
}

p {
    text-align: justify;
    font-size: 16px;
}

.textLeft,
.textRight {
    width: 380px;
}

.header,
.footer {
    height: 65px;
    background-color: #F05D23;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.footer {
    align-items: start;
    justify-content: space-around;
    background-color: #EFEFE9;
}

.withFood {
    color: #F05D23;
}

.a-nav {
    color: #F2F2F2;
    text-decoration: none;
    cursor: pointer;
}

.footer .a-nav {
    color: #F05D23;
}



.footer {
    width: 100%;
    height: 250px;
}

.footer-nav {
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.a-navFooter {
    color: #F05D23;
    padding: 10px;
}

.navFooter{

display: flex;
align-items: center;
justify-content: right;
margin-right: 30px;
}

.navFooter,
.tellUsFooter,
.emailFooter,
.logoFooter {
    width: 25%;
}

.tellUsFooter {
    color: #F05D23;
}

.emailFooter,
.tellUsFooter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ctaMain {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 230px;
    display: flex;
    margin-left: 70px;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #F05D23;
    color: #F2F2F2;
    border-radius: 5px;
    border: none;
    font-weight: bold;

}

.ctaSecondMain {
    background-color: #F2F2F2;
    color: #F05D23;
    margin-left: 90px;
    margin-top: 0px;

}

.ctaLeft {
    margin-right: 70px;
}

.secondMain-Home {
    width: 100%;
    height: 100%;
    background-color: #F05D23;
}

.h1-titleSecondMain {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;

    padding: 30px;
    padding-bottom: 20px;
    padding-top: 50px;
    color: #F2F2F2;
}

.mainSecond {
    display: flex;
    flex-direction: row;
}

.leftSecondMain,
.rightSecondMain {
    width: 50%;
    text-align: justify;
}

.p-textSecondMain {
    display: flex;
    align-self: center;
    width: 60%;
    padding: 20px;
    color: #F2F2F2;
}

.leftSecondMain {
    display: flex;
    justify-content: right;
    width: 50%;

}

/* Home */



/* Cadastro */


.titleCadastro {
    font-size: 40px;
    color: #F05D23;
    font-weight: bold;
    padding: 25px;
    margin-left: 40px;
}

#CabecalhoEmpresa {
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
}

#cabecalhoDoFormulario {
    background-color: rgb(219, 218, 218);
    ;
}

#corpoDoFormularioEmpresa {
    background-color: rgb(219, 218, 218);
    padding: 50px;
}

#corpoDoFormularioCliente {
    background-color: rgb(219, 218, 218);
    padding: 50px;
}

.inputEmpresa,
.inputCliente,
input {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: white;
    margin-bottom: 25px;
    padding: 20px;
}

input {
    width: 80%;
}


.cabecalhoSelecionado {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 218, 218);
    color: #F05D23;
    width: 50%;
    height: 40px;
    cursor: pointer;
}

.cabecalhoNaoSelecionado {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240,93,35);
background: linear-gradient(180deg, rgba(240,93,35,1) 70%, rgba(229,86,29,1) 78%, rgba(209,73,19,1) 94%);

    color: white;
    width: 50%;
    height: 40px;
}

.corpoDoFormularioCliente {
    background-color: rgb(219, 218, 218);
    padding: 35px;
}

.mainCadastroEmpresa,
.mainCadastroCliente {
    display: flex;
    flex-direction: row;
    background-color: rgb(219, 218, 218);
    padding-top: 20px;
    height: 475px;
}

.leftInputs,
.rightInputs {
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonCadastro {
    width: 500px;
    background-color: #F05D23;
    color: #F2F2F2;
    font-weight: bold;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;

}

.agenciaInput {
    margin-bottom: 7.5px;
}

/* Cadastro */



/* Login */

.allContent {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #EFEFE9;
}

.contentLogin {
    width: 60%;
}


.space {
    width: 40%;
    height: 1000px;
    background-color: #F05D23;

}

.titleLogin {
    color: #F05D23;
    font-weight: bold;
    padding: 25px;
    margin-left: 100px;
}

.cta {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 100px;
}

.inputs {
    display: flex;
    padding: 25px;
    flex-direction: column;
    margin-left: 75px;
}

.ctaLogin {
    width: 230px;
    background-color: #F05D23;
    color: #F2F2F2;
    font-weight: bold;
    height: 40px;
    border: none;
    margin: 25px;
    border-radius: 5px;
    margin-left: 100px;
}