<div *ngIf="empresaLogada!=undefined || empresaLogada != null">
    <h1>{{empresaLogada.nome}}</h1>
</div>

<div style="display: flex;justify-content: center;">
    <div (click)="alterarExibicaoCardapio()"style="background-color:white; width:100%;display: flex;justify-content: center;">
        Cardapio da empresa
    </div>
    <div (click)="alterarExibicaoCardapio()" style="background-color:orangered; width:100%;display: flex;justify-content: center;">
        Pedidos
    </div>
</div>

<div *ngIf="!exibindoCardapio" style="background-color: orangered;">
    <div *ngFor="let pedido of pedidosLista">

        <div *ngFor="let item of pedido.itens">
            {{item.nome}}
        </div>
        {{pedido.endereco}}
    </div>
</div>

<div *ngIf="exibindoCardapio">
    <div *ngFor="let item of itensCardapio">
       {{item.nome}}{{item.preco}}
    </div>
    <div>
        <input placeholder="novo item" type="text" [(ngModel)]="novoItemNome" style="width:100px;height: 25px;">
        <input placeholder="preço" type="number" [(ngModel)]="novoItemPreco" style="width:100px; height: 25px;">
        <button (click)="adicionarNovoItemAoCardapio()">adicionar</button>
    </div>
    
</div>
